c<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="img/logo.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>UCare</title>
        <!-- BOOTSTRAP CORE STYLE CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" />
        <!-- FONT AWESOME CSS -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <!-- FLEXSLIDER CSS -->
        <link href="css/flexslider.css" rel="stylesheet" />
        <!-- CUSTOM STYLE CSS -->
        <link href="css/style.css" rel="stylesheet" />    
        <!-- Google	Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
    
        <title>UCareBot</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'> </script>
        
        <style> 
            body {
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            }
            div2 {
                margin-left: auto;
                margin-right: auto;
                margin-top: 40px;
                padding: 10px;
            }
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="face-api.js"></script>
        <script src="js/commons.js"></script>
        <script src="js/drawing.js"></script>
        <script src="js/faceDetectionControls.js"></script>
        <script src="js/webcamRecognition.js"></script>
        <script>
            var res;
            $(document).ready(function() {
              
                var socket = io();
                socket.emit("sta", res);
                socket.on ("sta_back", function (data) {

                    $("#data_temp").empty();
                    $("#data_temp").append(data.data_temp);
                    $("#data_user").empty();
                    $("#data_user").append(data.data_user);
                    if (data.alert == 1) {
                        alert("HIGH TEMPERATURE DETECT!");
                    }
                    socket.emit ("sta",res);

                })
            });
            async function onPlay() {
          const videoEl = document.getElementById('inputVideo');
          if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
            return setTimeout(() => onPlay());
          
          const options = getFaceDetectorOptions();
          const result = await faceapi.detectSingleFace(videoEl, options).withFaceLandmarks().withFaceDescriptor();
    
          if (result) {

            $(document).ready(function() {

                var str = faceMatcher.findBestMatch(result.descriptor).toString();
                var pos = str.search("_");
                res = str.slice(0, pos);
                
                $("#data_name").empty();
                $("#data_name").append(res);
            
                
            });


          }

          setTimeout(() => onPlay());

          
        }
    
        async function run() {
          // load face detection model
    
          await changeFaceDetector(TINY_FACE_DETECTOR);
    
          await faceapi.loadFaceLandmarkModel('/');
          await faceapi.loadFaceRecognitionModel('/');
    
          faceMatcher = await createFaceMatcher(1);
    
          // try to access users webcam and stream the images
          // to the video element
          const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
          const videoEl = document.getElementById('inputVideo');
          videoEl.srcObject = stream;
        }
    
        document.addEventListener("DOMContentLoaded", function() {
          run();
        });
        </script>
 
        
    </head>
    <body>
        
        <hello>
        <div>
        
            <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img class="logo-custom" src="img/logo180-50.png" alt=""  /></a>
                    </div>
                    <div class="navbar-collapse collapse move-me">
                        <ul class="nav navbar-nav navbar-right">

                            <li >  <a href = "login"> Xin chào, <strong> admin</strong> </a></li>
                        </ul>
                    </div>
                
                </div>
            </div>
        </div>
        
        <div2>
                <div class="container">
                 
                    <h3 class="mb-0" style = "margin-top: 50px">
                        <p style = "color:#fff">TEMP MONITOR</p>
                    </h3>
                    


                    

                    <div class="container emp-profile">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div style="position: relative" class="margin">
                                            <video onplay="onPlay(this)" id="inputVideo" autoplay muted width="300"></video>
                                
                                          </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="profile-head">
                                                    <h5>
                                                        <b><a id = "data_user"></a></b>
                                                    </h5>
                                                    <h6>
                                                        STUDENT
                                                    </h6>
                                                    <p>
                                                        TEMP: 
                                                        <span style = "color:red"> <b><a id = "data_temp"></a> </b></span>
                                                    </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="profile-work">
                                            <p>STUDENT INFO</p>
                                            <a href="">ID: </a> <a id = "data_name"></a><br/>
                                            <a href="">Gender: Nam</a><br/>
                                            <a href="">Class: 12A2</a><br/>
                                
                                            <a  href="signup" class="btn btn-success btn-lg" >
                                              ĐĂNG KÍ HỌC SINH MỚI
                                          </a>
                                        </div>
                                    </div>
                                    
                                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          
                                            </div>
                                        
                                    </div>
                                </div>
                            </form>           
                        </div>
                </div>
        </div2>
        

        


       
        <!-- FOOTER SECTION END-->

        <!--  Jquery Core Script -->
        <script src="js/jquery-1.10.2.js"></script>
        <!--  Core Bootstrap Script -->
        <script src="js/bootstrap.js"></script>
        <!--  Flexslider Scripts --> 
        <script src="js/jquery.flexslider.js"></script>
        <!--  Scrolling Reveal Script -->
        <script src="js/scrollReveal.js"></script>
        <!--  Scroll Scripts --> 
        <script src="js/jquery.easing.min.js"></script>
        <!--  Custom Scripts --> 
        <script src="js/custom.js"></script>
        </hello>
    </body>
    <script>
        
      </script>
      </body>
    
</html>
