<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <title>Signup for Blackjack</title>


    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <link href="css/main.css" rel="stylesheet" media="all">
    <style>
        body  {
            background-image: url("/img/login_bg.jpg");
            background-repeat: no-repeat, repeat;
            background-color: #cccccc;
            background-attachment: fixed;
            background-position: center;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <div class="page-wrapper p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h1 class="title">CHÀO MỪNG ĐẾN  VỚI UCARETEMP</h1>

               
                    <form method="POST">
                        <div class="input-group">
                            <label class="label">tên tài khoản</label>
                            <input class="input--style-4" type="text" name="account">
                        </div>
                        <div class="input-group">
                            <label class="label">mật khẩu</label>
                            <input class="input--style-4" type="password" name="password">
                        </div>
                        <div class = "container">
                            <label class="radio-container m-r-45">Lưu tài khoản?
                                <input type="checkbox" name="confirm">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="p-t-15 ">

                            <button class="login100-form-btn" type="submit">đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>
</html>
