<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="img/logo.png"/>
    <title>UCareBot</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
     <!-- FLEXSLIDER CSS -->
    <link href="css/flexslider.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="css/style.css" rel="stylesheet" />    
    <!-- Google	Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
    
</head>
<body >
   
    <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="logo-custom" src="img/logo180-50.png" /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/">TRANG CHỦ</a></li>
                    <li><a href="index">TRANG QUẢN LÝ</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
      <!--NAVBAR SECTION END-->
    <div class="home-sec" id="home" >
        <div class="overlay">
    <div class="container">
        <div class="row text-center " >

            <div class="col-lg-12  col-md-12 col-sm-12">

                <div class="flexslider set-flexi" id="main-section" >
                    <ul class="slides move-me">
                        <!-- Slider 01 -->
                        <li> 
                            <h3>ĐỀ TÀI NGHIÊN CỨU KHOA HỌC</h3>
                            <h1>UCARETEMP</h1>

                            
                             <a  href="index" class="btn btn-success btn-lg" >
                                SỬ DỤNG NGAY
                            </a>
                        </li>

                        <li>
                            <h3>ĐỀ TÀI NGHIÊN CỨU KHOA HỌC</h3>
                            <h1>HỆ THỐNG THEO DÕI THÂN NHIỆT HỌC SINH</h1>
                             
                             <a  href="index" class="btn btn-danger btn-lg" >
                                SỬ DỤNG NGAY
                            </a>
                        </li>
                        <!-- End Slider 02 -->
                        

                    </ul>
                </div>
            </div>
                
               </div>
                </div>
           </div>
           
       </div>
       <!--HOME SECTION END-->   
    <div  class="tag-line" >
         <div class="container">
           <div class="row  text-center" >
           
               <div class="col-lg-12  col-md-12 col-sm-12">
               
        <h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i>UCare<i class="fa fa-circle-o-notch"></i> </h2>
                   </div>
               </div>
             </div>
        
    </div>
    <!--HOME SECTION TAG LINE END-->   
         <div id="features-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">GIỚI THIỆU</h1>
                    <big><div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s" >
                            Ba chấm
                    </p></div>

                    <a data-scroll-reveal="enter from the bottom after 0.3s" href = "http://www.nhandan.com.vn/khoahoc/item/32130302-nhung-quoc-gia-dung-dau-the-gioi-ve-o-nhiem-khong-khi-va-tieu-thu-nang-luong.html"> Ba chấm chấm </a>
                    
                    <div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s"> 
                            Ba chấm
                    </p></div>
                    
                    <div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s"> 
                            Ba chấm
                    </p></div> </big>
                 </div>

             </div>
             <!--/.HEADER LINE END-->


           <div class="row" >
           
               
                 
                   
                 
                 
               </div>
             </div>
   <!-- FEATURES SECTION END-->
    <div id="faculty-sec" >
    <div class="container set-pad">
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">TÁC GIẢ </h1>
                 </div>

             </div>
             <!--/.HEADER LINE END-->

           <div class="row" >
           
               
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="faculty-div">
                     <img src="img/faculty/khanh.jpg"  class="img-rounded" />
                   <h3 >TRẦN AN KHÁNH </h3>
                 <hr />
                         <h4>12A2</h4>
                         <h4>Trường THPT Chuyên Lý Tự Trọng</h4>
                </div>
                   </div>
        
               <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="faculty-div">
                        <img src="img/faculty/lam.jpg"  class="img-rounded" />
                   <h3 >LÊ BÙI HỮU PHÚC</h3>
                 <hr />
                         <h4>12A2 </h4>
                         <h4>Trường THPT Chuyên Lý Tự Trọng</h4>
                </div>
                   </div>
                 
               </div>
             </div>
        </div>

    
</div>
     <div class="container">
             <div class="row set-row-pad"  >
    <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1 " data-scroll-reveal="enter from the bottom after 0.4s">

        <h2 ><strong>Địa chỉ </strong></h2>
        <hr />
                    <div>
                        <h4>Trường THPT Chuyên Lý Tự Trọng,</h4>
                        <h4>Cái Răng - Cần Thơ - Việt Nam.</h4>
                        <h4><strong>Hotline:</strong> +84817278182</h4>
                        <h4><strong>Email: </strong>ankhanhct@gmail.com</h4>
                    </div>


                </div>
                 <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

                    <h2 ><strong>Mạng xã hội </strong></h2>
        <hr />
                    <div >
                        <a href="https://www.facebook.com/theduckplaygame">  <img src="assets/img/Social/facebook.png" alt="" /> </a>

                    </div>
                    </div>


                </div>
                 </div>
     <!-- CONTACT SECTION END-->
    <div id="footer">
          UCareTeam2020@Copyright ||  <a href="http://binarytheme.com" style="color: #fff" target="_blank">Designed by : Khanh Tran</a>
    </div>
     <!-- FOOTER SECTION END-->
   
    <!--  Jquery Core Script -->
    <script src="js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="js/bootstrap.js"></script>
    <!--  Flexslider Scripts --> 
         <script src="js/jquery.flexslider.js"></script>
     <!--  Scrolling Reveal Script -->
    <script src="js/scrollReveal.js"></script>
    <!--  Scroll Scripts --> 
    <script src="js/jquery.easing.min.js"></script>
    <!--  Custom Scripts --> 
         <script src="js/custom.js"></script>
</body>
</html>
