<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="img/logo.png"/>
    <title>UCareBot</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
     <!-- FLEXSLIDER CSS -->
    <link href="css/flexslider.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="css/style.css" rel="stylesheet" />    
    <!-- Google	Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
    
</head>
<body >
   
    <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="logo-custom" src="img/logo180-50.png" /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/">TRANG CHỦ</a></li>
                    <li><a href="index">TRANG QUẢN LÝ</a></li>
                    
                </ul>
            </div>
           
        </div>
    </div>
      <!--NAVBAR SECTION END-->
    <div class="home-sec" id="home" >
        <div class="overlay">
    <div class="container">
        <div class="row text-center " >

            <div class="col-lg-12  col-md-12 col-sm-12">

                <div class="flexslider set-flexi" id="main-section" >
                    <ul class="slides move-me">
                        <!-- Slider 01 -->
                        <li> 
                            <h3>ĐỀ TÀI NGHIÊN CỨU KHOA HỌC</h3>
                            <h1>UCARETEMP</h1>

                            
                             <a  href="index" class="btn btn-success btn-lg" >
                                SỬ DỤNG NGAY
                            </a>
                        </li>

                        <li>
                            <h3>ĐỀ TÀI NGHIÊN CỨU KHOA HỌC</h3>
                            <h1>HỆ THỐNG ĐO LƯỜNG THÂN NHIỆT HỌC SINH TỰ ĐỘNG</h1>
                             
                             <a  href="index" class="btn btn-danger btn-lg" >
                                SỬ DỤNG NGAY
                            </a>
                        </li>
                        <!-- End Slider 02 -->
                        

                    </ul>
                </div>
            </div>
                
               </div>
                </div>
           </div>
           
       </div>
       <!--HOME SECTION END-->   
    <div  class="tag-line" >
         <div class="container">
           <div class="row  text-center" >
           
               <div class="col-lg-12  col-md-12 col-sm-12">
               
        <h2 data-scroll-reveal="enter from the bottom after 0.1s" ><i class="fa fa-circle-o-notch"></i>UCare<i class="fa fa-circle-o-notch"></i> </h2>
                   </div>
               </div>
             </div>
        
    </div>
    <!--HOME SECTION TAG LINE END-->   
         <div id="features-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">GIỚI THIỆU</h1>
                    <big><div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s" >
                        Trong bối cảnh dịch Covid-19 hoành hành hiện nay, việc có thể kiểm soát được các yếu tố dịch tễ ở những khu vực công cộng như công ty, siêu thị,… là điều vô cùng cần thiết không chỉ để bảo đảm an toàn sinh hoạt mà còn đồng thời tránh sự lây nhiễm từ khu vực công cộng này sang công cộng khác. Đặc biệt là ở nơi trường học, với số lượng học sinh từ vài trăm đến vài nghìn ra vào mỗi ngày và sinh hoạt chung với khoản cách gần càng làm tăng các yếu tố gây lây nhiễm.
                    </p></div>

                    <div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s"> 
                        Theo chỉ dẫn của Bộ Y Tế Việt Nam, có thể sớm phát hiện những cá nhân có khả năng nhiễm Covid-19 qua những biểu hiện bên ngoài bằng những phương pháp hiện đang được áp dụng trên khắp cả nước, trong đó có đo thân nhiệt trước khi ra vào khu vực công cộng. Vấn đề được đặt ra ở những trường học là với số lượng học sinh ra vào trên dưới vài nghìn học sinh trong một khoản thời gian ngắn thì việc bố trí nhân viên y tế đo thân nhiệt từng học sinh là điều gần như không thể. Thứ nhất, sẽ không có đủ nhân viên y tế cho cả trường (hiện tại hầu hết các trường học chỉ bố trí  từ 1 đến 2 nhân viên y tế thường trực). Thứ hai là sẽ không thể đáp ứng thời gian đo thân nhiệt trong buổi sáng. Dựa vào khảo sát, hầu hết học sinh sẽ đến trường từ khoảng 6h25 sáng cho đến 6h45 sáng. Chỉ với 20 phút ngắn ngủn không thể đáp ứng cho hàng nghìn học sinh như vậy được.
                    </p></div>
                    
                    <div style="text-align:justify"><p data-scroll-reveal="enter from the bottom after 0.3s"> 
                        Ucare Temp – Hệ thống kiểm soát thân nhiệt học sinh tự động là ý tưởng về một hệ thống gồm nhiều trạm đo được điều khiển tự động bằng phần mềm với chức năng nhận diện học sinh bằng AI, đo thân nhiệt học sinh và cập nhật dữ liệu hằng ngày lên hệ thống quản lý học sinh. Hệ thống sẽ đưa ra kết quả đo tức thời cho học sinh và sẽ đưa hướng dẫn y tế với những trường hợp có biểu hiện nhiễm bệnh. Với tốc độ xử lý của AI, UCare Temp có thể hoàn toàn giải quyết được vấn đề thời gian đo thân nhiệt mỗi buổi sáng tại trường. Đồng thời có thể ứng dụng hệ thống UCare Temp để quản lý học sinh đến trường cùng nhiều ứng dụng khác.
                    </p></div> </big>
                 </div>

             </div>
             <!--/.HEADER LINE END-->


           <div class="row" >
           
               
                 
                   
                 
                 
               </div>
             </div>
   <!-- FEATURES SECTION END-->
    <div id="faculty-sec" >
    <div class="container set-pad">
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <h1 data-scroll-reveal="enter from the bottom after 0.1s" class="header-line">TÁC GIẢ </h1>
                 </div>

             </div>
             <!--/.HEADER LINE END-->

           <div class="row" >
           
               
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="faculty-div">
                     <img src="img/faculty/khanh.jpg"  class="img-rounded" />
                   <h3 >TRẦN AN KHÁNH </h3>
                 <hr />
                         <h4>12A2</h4>
                         <h4>Trường THPT Chuyên Lý Tự Trọng</h4>
                </div>
                   </div>
        
               <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="faculty-div">
                        <img src="img/faculty/lam.jpg"  class="img-rounded" />
                   <h3 >LÊ BÙI HỮU PHÚC</h3>
                 <hr />
                         <h4>12A2 </h4>
                         <h4>Trường THPT Chuyên Lý Tự Trọng</h4>
                </div>
                   </div>
                 
               </div>
             </div>
        </div>

    
</div>
     <div class="container">
             <div class="row set-row-pad"  >
    <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1 " data-scroll-reveal="enter from the bottom after 0.4s">

        <h2 ><strong>Địa chỉ </strong></h2>
        <hr />
                    <div>
                        <h4>Trường THPT Chuyên Lý Tự Trọng,</h4>
                        <h4>Cái Răng - Cần Thơ - Việt Nam.</h4>
                        <h4><strong>Hotline:</strong> +84817278182</h4>
                        <h4><strong>Email: </strong>ankhanhct@gmail.com</h4>
                    </div>


                </div>
                 <div class="col-lg-4 col-md-4 col-sm-4   col-lg-offset-1 col-md-offset-1 col-sm-offset-1" data-scroll-reveal="enter from the bottom after 0.4s">

                    <h2 ><strong>Mạng xã hội </strong></h2>
        <hr />
                    <div >
                        <a href="https://www.facebook.com/theduckplaygame">  <img src="assets/img/Social/facebook.png" alt="" /> </a>

                    </div>
                    </div>


                </div>
                 </div>
     <!-- CONTACT SECTION END-->
    <div id="footer">
          UCareTeam2020@Copyright ||  <a href="http://binarytheme.com" style="color: #fff" target="_blank">Designed by : Khanh Tran</a>
    </div>
     <!-- FOOTER SECTION END-->
   
    <!--  Jquery Core Script -->
    <script src="js/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="js/bootstrap.js"></script>
    <!--  Flexslider Scripts --> 
         <script src="js/jquery.flexslider.js"></script>
     <!--  Scrolling Reveal Script -->
    <script src="js/scrollReveal.js"></script>
    <!--  Scroll Scripts --> 
    <script src="js/jquery.easing.min.js"></script>
    <!--  Custom Scripts --> 
         <script src="js/custom.js"></script>
</body>
</html>
